body{
    background:#f8eef4;
    font-family:serif;
    text-align:center;
}

/* title */
.title{
    margin-top:40px;
    color:#b97a95;
    font-size:32px;
}


/* board */
.memory-board{
    position:relative;
    width:900px;
    height:600px;
    margin:40px auto;

    background:#fff;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.15);

    overflow:hidden;
}

/* รูปทั้งหมด */
.photo{
    position:absolute;
    width:180px;
    border-radius:10px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);

    transition:0.4s;
    cursor:pointer;
}

/* hover */
.photo:hover{
    transform:scale(1.08) rotate(0deg);
    z-index:10;
}

/* ===== layout แบบ scrapbook ===== */

.p1{ top:40px; left:60px; transform:rotate(-8deg);}
.p2{ top:80px; left:260px; transform:rotate(6deg);}
.p3{ top:30px; right:90px; transform:rotate(-10deg);}
.p4{ top:220px; left:120px; transform:rotate(7deg);}
.p5{ top:260px; left:360px; transform:rotate(-6deg);}
.p6{ top:200px; right: 180px; transform:rotate(5deg);}
.p7{ bottom:40px; left:220px; transform:rotate(-4deg);}
.p8{ bottom:50px; right:80px; transform:rotate(8deg);}

/* ปุ่มกลับ */
.back{
    margin-top:20px;
    padding:12px 28px;
    border:none;
    border-radius:20px;
    background:#e6b8cc;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.photo::before{
    content:"";
    position:absolute;
    top:-10px;
    left:50%;
    transform:translateX(-50%);
    width:60px;
    height:18px;
    background:#ffdbe7;
    opacity:0.7;
}

